body {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

div {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 200px;
  transition: all 200ms steps(2, end);

  &:hover {
    transform: scale(2)  rotate(20deg);
    filter: blur(2px);
 
  }
}

div img {
  position: absolute;
  top: 0;
  left: 0;
}
